/* combined styles */
*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

.primary-btn{
    border-radius: 5px;
    background-color: #F15B22;
    color: #FFFFFF;
    border: 0;
    padding: 15px 20px;
}

.primary-title{
    color: #151414;
}

.primary-text{
    color:#444343
}
/* header */
.header{
    background-image: url("../images/banner/banner2.png");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-items: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner{
    width: 50%;
    padding: 50px 150px;
    display: block;
    float: right;
    text-align: right;
}

.banner-title {
    margin-bottom: 20px;
}

.banner-text{
    margin-bottom: 20px;
    width: 70%;
    margin-left: auto;
}

/* main section */

.failure-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 50px 100px 50px;
}

.failure-img{
    width: 100%;
}

.failure-heading{
    margin-bottom: 20px;
}

.failure-description{
    margin-bottom: 10px;
}

.failure-text{
    padding: 0 50px 0 20px;
}

.failure-list{
    list-style: none;
    line-height: 25px;
}
.failure-list i{
    color: #16D887;
}